* body {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    height: 1000px;
    display: block;
    background-color: rgb(232, 255, 245);
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
header {
    background-color: rgb(171, 238, 182);
    height: 200px;
    color:rgb(23, 41, 33);
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.photo {
    background-image: url("images/photo-2.jpg");
    border-radius: 50%;
    border: dotted 3px #fff;
    justify-content: center;
    width: 175px;
    height: 175px;
    display: flex;
    align-self: center;
}

.author {
    display: flex;
    align-self: center;
}

h1 {
    color: rgb(6, 48, 30);
    font-size: 3em;
    line-height: 0.9em;
}

h1 span {
    font-size: 0.5em;
    font-weight: 300;
    font-variant: small-caps;
}

h2 {
    color: rgb(6, 48, 30);
    text-transform: uppercase;
    border-bottom: solid 2px rgb(6, 48, 30);
}

main {
    display: flex;
    background-color: rgb(248, 255, 252);

    text-align: left;
    justify-content: space-between;
}

nav {
    height: 30px;
    background-color: rgb(6, 48, 30);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content:space-around;
    align-items:stretch;
    height: 100%;
}

nav li {
    float: left;
    display: flex;
}

nav li a {
    display: flex;
    color: white;
    text-align: center;
    align-items:center;
    text-decoration: none;
    padding: 0 10px;
}

nav li a:hover {
    color: rgb(6, 48, 30);
    background-color: rgb(171, 238, 182);
}

.left-side {
    display: flexbox;
    width: 35%;
    background-color: rgb(171, 238, 182);
    padding: 0 10px;
}

.right-side {
    display: flexbox;
    width: 60%;
    padding: 0 10px;
}

.right-side p {
    font-style: italic;
    text-align: justify;
}

.code-example h2 {
    margin-bottom: 0;
    border-bottom: none;
}

.code-css {
    background-color: rgb(25, 41, 34);
    border-radius: 5px;
    color: darkgray;
    padding: 10px;
}

.language ul {
    display: block;
    }

.language ul li {
    display: flexbox;
    padding-left: 10px;
}

footer {
    background-color: rgb(171, 238, 182);
    height: 50px;
    justify-content:space-around;
    border-top: 1px solid rgb(6, 48, 30);
    display: flex;
    padding: 0 20px;
}

footer a {
    align-items:stretch;
}

footer img {
    height: 90%;
    margin: 0 50px;

}

footer h2 {
    border-bottom: none;
    margin: auto;
    display: inline-flex;
    align-items:center;
}